html, body {
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-family: diplomdarbs;
    text-align: center;
}

@font-face {
    font-family: "diplomdarbs";
    src: url("./fonti/diplomdarbs.ttf");
}

/* te sākās teksta lietas */

.teksts {
	position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
        color: #EC045C;
}

.hello {

	width: 100%;
	height: 10%;
	display: block;
  margin-top: 17%;
  font-size: 10vw;
}

.augsejaisteksts {

	width: 100%;
	height: 25%;
	display: none;
  font-size: 5vw;
}

.yesno {
  display: none;
  width: 20%;
  height: 20%;
  font-size: 7vw;
}

.yes {
  display: none;
  width: 20%;
  min-height: 5%;
  margin: 0%;
}

.no {
  display: none;
  width: 20%;
  min-height: 5%;
  margin: 0%;
}

.ifyes {
	width: 100%;
	min-height: 10%;
	display: none;
  font-size: 7vw;
  margin-top: 17%;

}

.ifno {
	width: 100%;
	min-height: 10%;
	display: none;
  font-size: 7vw;
    margin-top: 17%;
}

.story {
	height: 10%;
	display: none;
  font-size: 5vw;
  margin-top: 15%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
}

.story2 {
  height: 10%;
  display: none;
  font-size: 5vw;
  margin-top: 25%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
}

.story3 {
  height: 10%;
  display: none;
  font-size: 5vw;
  margin-top: 25%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
  color: #FADEE9;
}

.new-line {
  white-space: pre-line;
}

p {
	margin: 0%;
}

a {
text-decoration: none;
color: #EC045C;
}

/*Te iet noformējuma lietas*/

.fons {
  position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FADEE9;  
}

img {
  display: inline-block;
}

.acs1{
  width: 35%;
  float: left;
  margin-right: 5%;
}

.acs2 {
  width: 35%;
  overflow: hidden;
}

.acis {
  width: 60%;
  height: 40%;
  margin-top: 17.5%;
  margin-left: 28%;
  display: none;

}

.temp {
  width: 60%;
  height: 40%;
  margin-top: 17.5%;
  margin-left: 28%;
  display: none;
}

.labapuse {
  transform: scaleX(-1);
}

.puke1 {
  position: absolute;
  top: 0.5%;
  left:-10%;
    max-width: 23%;
  height: auto;
  transform: rotate(13deg);
}

.puke2 {
  position: absolute;
  bottom: -14%;
  left: -10%;
  max-width: 27%;
  height: auto;
  transform: rotate(4deg);

}

.puke3 {
  position: absolute;
  max-width: 13.5%;
  height: auto;
  bottom: -3%;
  left: 3%;
  transform: rotate(5deg);
}

.puke4{
  position: absolute;
  max-width: 15%;
  height: auto;
  bottom: -0.7%;
  left: 11%;
  transform: rotate(6deg);
}

.puke5 {
  position: absolute;
  max-width: 5%;
  height: auto;
  bottom: -0.9%;
  left: 24%;
  transform: rotate(5deg);
}

.puke1right {
  position: absolute;
  top: 0.5%;
  right:-10%;
    max-width: 23%;
  height: auto;
  transform: rotate(13deg);
    transform: scaleX(-1);
}

.puke2right {
  position: absolute;
  bottom: -14%;
  right: -10%;
  max-width: 27%;
  height: auto;
  transform: rotate(4deg);
    transform: scaleX(-1);

}

.puke3right {
  position: absolute;
  max-width: 13.5%;
  height: auto;
  bottom: -3%;
  right: 3%;
  transform: rotate(5deg);
    transform: scaleX(-1);
}

.puke4right {
  position: absolute;
  max-width: 15%;
  height: auto;
  bottom: -0.7%;
  right: 11%;
  transform: rotate(6deg);
    transform: scaleX(-1);
}

.puke5right {
  position: absolute;
  max-width: 5%;
  height: auto;
  bottom: -0.9%;
  right: 24%;
  transform: rotate(5deg);
    transform: scaleX(-1);
}

/*
te vnk guide bildēm
.kreisapuseApaksa {
  position: absolute;
  bottom: 0;
}

.labapuseApaksa {
  position: absolute;
  bottom: 0;
  right:0;
  transform: scaleX(-1);
}

.otraisKreisais {
  left: 10%;
}

.otraisLabais {
  right: 10%;
} */