html, body {
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-family: diplomdarbs;
    text-align: center;
}

@font-face {
    font-family: "diplomdarbs";
    src: url("./fonti/diplomdarbs.ttf");
}

/* te sākās teksta lietas */

.teksts {
	position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
        color: #EC045C;
}



.story {
	height: 10%;
	display: none;
  font-size: 5vw;
  margin-top: 25%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
    color: #FADEE9;
}

.story3 {
  height: 10%;
  display: none;
  font-size: 5vw;
  margin-top: 25%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
  color: #FADEE9;
}

.new-line {
  white-space: pre-line;
}

p {
	margin: 0%;
}

a {
text-decoration: none;
color: #EC045C;
}

/*Te iet noformējuma lietas*/

.fons {
  position: absolute;
    width: 100%;
    height: 100%;
    background-color: #03140D;  
}

img {
  display: inline-block;
}

.acs1{
  width: 35%;
  float: left;
  margin-right: 5%;
}

.acs2 {
  width: 35%;
  overflow: hidden;
}

.acis {
  width: 60%;
  height: 40%;
  margin-top: 17.5%;
  margin-left: 28%;
  display: block;

}

.temp {
  width: 60%;
  height: 40%;
  margin-top: 17.5%;
  margin-left: 28%;
  display: block;
}


