html, body {
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-family: diplomdarbs;
    text-align: center;
    background-color: #000000;
}

@font-face {
    font-family: "diplomdarbs";
    src: url("./fonti/diplomdarbs.ttf");
}

/* te sākās teksta lietas */

.teksts {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
        color: #f1d2cf;
}

.story {
    height: 10%;
    display: block;
  font-size: 5vw;
  margin-top: 15%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
}

.story2 {
    height: 10%;
    display: none;
  font-size: 5vw;
  margin-top: 15%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
}

.new-line {
  white-space: pre-line;
}

a {
text-decoration: none;
color: #f1d2cf;
}

/*Te iet noformējuma lietas*/

.fons {
  position: absolute;
    width: 100%;
    height: 100%;
}

.fons2 {
  position: absolute;
    width: 100%;
    height: 100%;
}

.parallax-viewport {
    position: fixed;    
    overflow: hidden; 
    width: 100%;
    height: 100%; 
    bottom: 0%;
}
.parallax-layer {
    position: absolute;
}

.spilvens {
    position: absolute;
  max-width: 140%;
  height: auto;
  bottom: -17%;
  left: 15%; 
}

.sirds {
    position: absolute;
  max-width: 141%;
  height: auto;
  bottom: -18%;
  left: 15%; 
}
.pile {
    position: absolute;
  max-width: 142%;
  height: auto;
  bottom: -17.5%;
  left: 15%; 
}
.zakis {
    position: absolute;
  max-width: 143%;
  height: auto;
  bottom: -19%;
  left: 15%; 
}
.zvaigzne {
    position: absolute;
  max-width: 141%;
  height: auto;
  bottom: -16%;
  left: 15%; 
}
.zivs {
    position: absolute;
  max-width: 145%;
  height: auto;
  bottom: -16.1%;
  left: 15%; 
}
.cuska {
    position: absolute;
  max-width: 146%;
  height: auto;
  bottom: -16.5%;
  left: 15%; 
}
.dzeks {
    position: absolute;
  max-width: 147%;
  height: auto;
  bottom: -17.2%;
  left: 15%; 
}



.augsakreisais {
  max-width: 35%;
  position: absolute;
  left: -5%;
  top: -7%;
}

.augsalabais {
  max-width: 50%;
  position: absolute;
  left: 55%;
  top: -5%;
}

.apaksakreisais {
  max-width: 25%;
  position: absolute;
  left: -5%;
  bottom: -5%;
}

.apaksalabais {
  max-width: 20%;
  position: absolute;
  left: 81%;
  bottom: -3%;
}

.zirneklistikla{
  max-width: 25%;
}

.transparent{
  opacity:0;
      -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;

}

.visible{
      -webkit-transition: opacity 1.5s ease-in-out;
  -moz-transition: opacity 1.5s ease-in-out;
  -o-transition: opacity 1.5s ease-in-out;
  transition: opacity 1.5s ease-in-out;
  opacity:1;

}