html, body {
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-family: diplomdarbs;
    text-align: center;
    background-color: #000000;
}

@font-face {
    font-family: "diplomdarbs";
    src: url("./fonti/diplomdarbs.ttf");
}

/* te sākās teksta lietas */

.teksts {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
        color: #f8f8f8;
}

.story {
    height: 10%;
    display: block;
  font-size: 5vw;
  margin-top: 15%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
}

.new-line {
  white-space: pre-line;
}

a {
text-decoration: none;
color: #EC045C;
}

/*Te iet noformējuma lietas*/

.fons {
  position: absolute;
    width: 100%;
    height: 100%;
}

.parallax-viewport {
    position: fixed;    
    overflow: hidden; 
    width: 100%;
    height: 30%; 
    bottom: 0%;
}
.parallax-layer {
    position: absolute;
}

.mantas {
    position: absolute;
  max-width: 100%;
  height: auto;
  bottom: -80%;
  left: -1%;
}