html, body {
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-family: diplomdarbs;
    text-align: center;
}

@font-face {
    font-family: "diplomdarbs";
    src: url("./fonti/diplomdarbs.ttf");
}

/* te sākās teksta lietas */

.teksts {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
        color: #03140D;
}

.story {
    height: 10%;
    display: block;
  font-size: 5vw;
  margin-top: 15%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
}

.new-line {
  white-space: pre-line;
}

a {
text-decoration: none;
color: #EC045C;
}

/*Te iet noformējuma lietas*/

.fons {
  position: absolute;
    width: 100%;
    height: 100%;
}

.dzeks1 {
  position: absolute;
  max-height: 55%;
  width: auto;
  bottom: -10%;
  left: 40%;
}

.dzeks2 {
  position: absolute;
  max-height: 55%;
  width: auto;
  bottom: -10%;
  left: 36.3%;
}

.dzeks3 {
  position: absolute;
  max-height: 55%;
  width: auto;
  bottom: -10%;
  left: 33%;
}

.dzeks4 {
  position: absolute;
  max-height: 55%;
  width: auto;
  bottom: -10%;
  left: 40%;
}

.dzeks5 {
  position: absolute;
  max-height: 55%;
  width: auto;
  bottom: -9.5%;
  left: 37%;
}

.transparent{
  opacity:0;
      -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;

}

.visible{
      -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:1;

}