html, body {
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-family: diplomdarbs;
    text-align: center;
}

@font-face {
    font-family: "diplomdarbs";
    src: url("./fonti/diplomdarbs.ttf");
}

/* te sākās teksta lietas */

.teksts {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
        color: #d79dda;
}

.story {
    height: 10%;
    display: block;
  font-size: 5vw;
  margin-top: 20vh;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
  cursor: pointer;
}

.story2 {
    height: 10%;
    display: block;
  font-size: 5vw;
  margin-top: 20vh;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
  display: none;
  cursor: pointer;
}

.new-line {
  white-space: pre-line;
}

a {
text-decoration: none;
color: #d79dda;
}

/*Te iet noformējuma lietas*/

.fons {
  position: absolute;
    width: 100%;
    height: 100%;
}

.fons2 {
  position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
}

.lellesContainer{
  position: absolute;
  width: 100%;
  height: 55vh;
  bottom: 0;
  border-color: white;
  border-style: dotted;
}

.augsa {
  position: absolute;
  max-width: 110%;
  height: auto;
  top: -3%;
  left: -5%;
  animation-duration: 3s;
  animation-name: slideinup;
}

.kreisa {
  position: absolute;
  max-height: 95%;
  width: auto;
  left: -3%;
  animation-duration: 3s;
  animation-name: slideinleft;

}

.laba {
  position: absolute;
  max-height: 95%;
  width: auto;
  right: -4%;
    animation-duration: 3s;
  animation-name: slideinright;
}

.skatuve{
  position: absolute;
  max-width: 110%;
  height: auto;
  margin-top: 90vh;
  left: -5%;
      animation-duration: 3s;
  animation-name: griida;
}

@keyframes slideinleft {
  from {
    margin-left: -40%;
  }

    to {
    margin-left: 0%;
  }
}

@keyframes slideinright {
  from {
    margin-right: -40%;
  }

    to {
    margin-left: 0%;
  }
}

@keyframes slideinup {
  from {
    margin-top: -10%;
  }

    to {
    margin-top: 0%;
  }
}

@keyframes griida {
  from {
    margin-top: 110vh;
  }

    to {
    margin-top: 90vh;
  }
}


/* te sākas leļļu teātra lietas */

#dzeks1 {
  position: absolute;
  max-height: 70%;
  bottom:-100%;
  left: 45%;
}

#pile {
  position: absolute;
  max-height: 65%;
  bottom:-5%;
  left: -9%;
  transform-origin: 50% bottom;
  transform: rotate(35deg);
}


#zakis {
  position: absolute;
  max-height: 65%;
  bottom:-30%;
  left: 10%;
  transform-origin: 50% bottom;
  transform: rotate(10deg);
}


#zvaigzne {
  position: absolute;
  max-height: 65%;
  bottom:-25%;
  left: 36%;
  transform-origin: 50% bottom;
  transform: rotate(-10deg)
}


#zirneklis {
  position: absolute;
  max-height: 65%;
  bottom:-32%;
  right: 28%;
  transform-origin: 50% bottom;
  transform: rotate(7deg)
}


#zivs {
  position: absolute;
  max-height: 65%;
  bottom:-18%;
  right: 12%;
  transform-origin: 50% bottom;
  transform: rotate(-3deg)
}

#chuska {
  position: absolute;
  max-height: 65%;
  bottom:-27%;
  right: -2%;
  transform-origin: 50% bottom;
  transform: rotate(-10deg)
}




/* animācijas */


.pileieksa{
  animation-name: pileieksa;
    animation-duration: 1.3s;
    animation-fill-mode: both;
}

@keyframes pileieksa {

  0%{
    bottom: -100%;
    left: -100%;    
  }

  100%{
    bottom: -5%;
    left: -9%;      
  }
}

.zakisieksa{
  animation-name: zakisieksa;
    animation-duration: 1.3s;
    animation-fill-mode: both;
}

@keyframes zakisieksa {

  0%{
    bottom: -100%;
    left: 8%;    
  }

  100%{
    bottom: -30%;
    left: 10%;      
  }
}

.zvaigzneieksa{
  animation-name: zvaigzneieksa;
    animation-duration: 1.3s;
    animation-fill-mode: both;
}

@keyframes zvaigzneieksa {

  0%{
    bottom: -100%;
    left: 30%;    
  }

  100%{
    bottom: -25%;
    left: 36%;      
  }
}

.zirneklisieksa{
  animation-name: zirneklisieksa;
    animation-duration: 1.3s;
    animation-fill-mode: both;
}

@keyframes zirneklisieksa {

  0%{
    bottom: -100%;
    right: 30%;    
  }

  100%{
    bottom: -32%;
    right: 28%;      
  }
}

.zivsieksa{
  animation-name: zivsieksa;
    animation-duration: 1.3s;
    animation-fill-mode: both;
}

@keyframes zivsieksa {

  0%{
    bottom: -100%;
    right: 15%;    
  }

  100%{
    bottom: -18%;
    right: 12%;      
  }
}

.chuskaieksa{
  animation-name: chuskaieksa;
    animation-duration: 1.3s;
    animation-fill-mode: both;
}

@keyframes chuskaieksa {

  0%{
    bottom: -100%;
    right: -5%;    
  }

  100%{
    bottom: -27%;
    right: -2%;      
  }
}





       .bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
  -webkit-animation-duration: 1.3s;
  animation-duration: 1.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }
  @keyframes bounceInUp {
  0%, 60%, 75%, 90%, 100% {
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }
  0% {
  opacity: 0;
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0);
  }
  60% {
  opacity: 1;
  -webkit-transform: translate3d(0, -20px, 0);
  transform: translate3d(0, -20px, 0);
  }
  75% {
  -webkit-transform: translate3d(0, 10px, 0);
  transform: translate3d(0, 10px, 0);
  }
  90% {
  -webkit-transform: translate3d(0, -5px, 0);
  transform: translate3d(0, -5px, 0);
  }
  100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  }