html, body {
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    font-family: diplomdarbs;
    text-align: center;
    background-color: #fadee9;
}

@font-face {
    font-family: "diplomdarbs";
    src: url("./fonti/diplomdarbs.ttf");
}

/* te sākās teksta lietas */

.teksts {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
        color: #78FF78;
}

.story {
    height: 10%;
    display: block;
 
  margin-top: 15%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
  color: #78FF78;
}

.story2 {
    height: 10%;
    display: block;
  margin-top: 15%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
  display: none;
  color: #FFFFFF;
}

.story3 {
    height: 10%;
    display: block;;
  margin-top: 15%;
  margin-left:10%;
  margin-right: 10%; 
  max-width: 80%;
  display: none;
  color: #FFFFFF;
}

.new-line {
  white-space: pre-line;
}

a {
text-decoration: none;
color: #EC045C;
}

/*Te iet noformējuma lietas*/

.fons {

    width: 100%;
    height: 100%;
      
        display: flex;
      align-items: center; 
      justify-content: center; 
}
.telekaste{
    position: relative;
  background-color: firebrick;
  height: 80vh;
  width: 80vh;
}

.telekaste img {
  width: 100%;
  height: auto;
  z-index: 2;
}

.dators{
  position: relative;
  max-height: 50%;
}

.ekrans {
  position: absolute;
  top: 5%;
  left: 4%;
  right: 6%;
  bottom: 20%;
  font-size: calc(2vw + 3vh);

}

.ieksa {
  position: absolute;
  bottom: 30%;
  left: 30%;
  display: none;

}

.ekrans {
  position: absolute;
}