html, body {
  position: absolute;
    margin: 0px;
    overflow: hidden;
    top: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
}


/* te sākās teksta lietas */

.valoda {

	display: inline-block;
	width: 20%;
	height: 20%;
}

a {
text-decoration: none;
color: black;

}